/.venv
/data.db
/query.txt
/tmp
/tmp-1.json
/tmp.html
/tmp.py
/tmp1.py
/tmp10.py
/tmp2.py
/tmp20.py
/tmp3.json
/tmp3.py
/tmplive.json
/tmpozon.json
/tmpozon2.2.json
/tmpozon2.json
/tmpozon3.1.json
/tmpozon3.json
/__pycache__
/tmp*
/keys.py
*.json